<section class="container narrow">
  <h1 class="page-title error">Error</h1>
  <div class="alert">{{message}}</div>
  <div class="text-center mt-1">
    <a href="/login">Volver al login</a> | <a href="/register">Registrarse</a> | <a href="/">Inicio</a>
  </div>
</section>
